open3d
ultralytics==8.3.156

--find-links https://download.pytorch.org/whl/cu128
torch
torchvision
segmentation_models-pytorch

pytorch-lightning
transformers
datasets
roboflow

PyQt5
livelossplot

onnx
onnxscript
