open3d
ultralytics==8.3.5

--find-links https://download.pytorch.org/whl/torch/
torch==2.7.1+cu126
--find-links https://download.pytorch.org/whl/torchvision/
torchvision==0.22.1+cu126

pytorch-lightning
transformers
datasets
roboflow

PyQt5
livelossplot

onnx
onnxscript
