<launch>
    <node pkg="bw_command_center" type="webapp_relay_node.py" name="webapp_relay_node"
        output="screen">
        <param name="exclude_regex"
            value="\/camera_.*\/.*.*image.*|\/camera_.*\/point_cloud.*|\/camera_.*\/depth.*|\/camera_.*\/confidence.*|\/tag_detections_image.*|\/rosout.*" />
    </node>
</launch>