<launch>
    <arg name="map" default="$(env MAP_NAME)" />
    <arg name="robot" default="$(env ROBOT)" />

    <include file="$(find bw_bringup)/launch/common.launch" />
    <include file="$(find bw_bringup)/launch/subsystems/zed.launch" />
    <include file="$(find bw_object_filter)/launch/object_filter.launch">
        <arg name="robot_filter_config"
            value="$(find bw_bringup)/config/$(arg robot)/robot_filter.yaml" />
    </include>
    <include file="$(find bw_navigation)/launch/move_base_flex.launch">
        <arg name="robot_filter_config"
            value="$(find bw_bringup)/config/$(arg robot)/robot_filter.yaml" />
    </include>
    <include file="$(find bw_teleop)/launch/bw_teleop.launch">
        <arg name="robot_filter_config"
            value="$(find bw_bringup)/config/$(arg robot)/robot_filter.yaml" />
    </include>
</launch>