<launch>
    <arg name="map" default="$(env MAP_NAME)"/>
    <arg name="robot" default="$(env ROBOT)"/>

    <include file="$(find bw_bringup)/launch/zed.launch" />
    <include file="$(find bw_object_estimation)/launch/object_estimation.launch" />
    <include file="$(find bw_tags)/launch/tag_visualization.launch" />
    <include file="$(find bw_object_filter)/launch/object_filter.launch">
        <arg name="robot_filter_config" default="$(find bw_bringup)/config/$(arg robot)/robot_filter.yaml"/>
    </include>
    <include file="$(find bw_navigation)/launch/move_base.launch">
        <arg name="robot_filter_config" default="$(find bw_bringup)/config/$(arg robot)/robot_filter.yaml"/>
    </include>
</launch>
