<launch>
    <arg name="map" default="$(env MAP_NAME)" />
    <arg name="robot" default="$(env ROBOT)" />
    <!-- <arg name="model" default="nhrl_dataset_mask_rcnn_R_50_FPN_3x_2023-11-20" /> -->
    <arg name="model" default="battlebots_mask_rcnn_R_50_FPN_3x_2024-02-25" />
    <arg name="svo_name" default="mini_bot_2024-03-02T16-20-33.svo" />

    <include file="$(find bw_bringup)/launch/subsystems/common.launch">
        <arg name="auto_initialize" value="true" />
    </include>
    <include file="$(find bw_segmentation)/launch/segmentation.launch">
        <arg name="model" value="$(find bw_data)/data/models/$(arg model).torchscript" />
        <arg name="metadata" value="$(find bw_data)/data/models/$(arg model)_metadata.json" />
    </include>
    <include file="$(find bw_bringup)/launch/subsystems/zed.launch">
        <arg name="svo_file" value="/media/storage/svo/$(arg svo_name)" />
    </include>
</launch>