<launch>
    <arg name="map" default="$(env MAP_NAME)" />
    <arg name="robot" default="$(env ROBOT)" />

    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch" />
    <include file="$(find bw_teleop)/launch/simple_teleop.launch" />
    <include file="$(find bw_segmentation)/launch/synthetic_depth_to_cloud.launch" />
    <include file="$(find bw_segmentation)/launch/segmentation_relay.launch" />
    <include file="$(find bw_object_estimation)/launch/object_estimation.launch" />
    <include file="$(find bw_tags)/launch/tag_visualization.launch" />
    <include file="$(find bw_object_filter)/launch/object_filter.launch">
        <arg name="robot_filter_config"
            default="$(find bw_bringup)/config/$(arg robot)/robot_filter.yaml" />
    </include>
    <include file="$(find bw_navigation)/launch/move_base_flex.launch">
        <arg name="robot_filter_config"
            default="$(find bw_bringup)/config/$(arg robot)/robot_filter.yaml" />
    </include>
    <include file="$(find bw_bringup)/launch/subsystems/foxglove_bridge.launch">
        <arg name="port" value="8765" />
        <arg name="asset_uri_allowlist" value="['package://(.*).(dae|stl|urdf|xacro)']" />
    </include>
    <include file="$(find bw_command_center)/launch/command_center.launch" />
    <include file="$(find bw_behaviors)/launch/bw_behaviors.launch" />
</launch>