<launch>
    <arg name="map" default="$(env MAP_NAME)"/>
    <arg name="robot" default="$(env ROBOT)"/>

    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch" />
    <include file="$(find bw_teleop)/launch/simple_teleop.launch" />
    <include file="$(find bw_simulation_relay)/launch/synthetic_depth_to_cloud.launch" />
</launch>
