<launch>
    <arg name="model" default="model.torchscript" />
    <arg name="metadata" default="model_metadata.json" />
    <group ns="camera_0">
        <node pkg="bw_segmentation" type="detectron_node.py" name="detectron"
            output="screen">
            <remap from="image" to="rgb/image_rect_color" />
            <param name="model" value="$(arg model)" />
            <param name="metadata" value="$(arg metadata)" />
            <param name="decimate" value="2" />
        </node>
    </group>
</launch>