<launch>
    <arg name="camera_name" default="camera_1" />
    <node name="depthai_oak_1_w" pkg="bw_tracking_cam" type="depthai_oak_1_w.py" output="screen"
        required="false" respawn="true">
        <param name="camera_name" value="$(arg camera_name)" />
        <param name="fps" value="60" />
        <param name="debug_image" value="true" />
    </node>
</launch>