[Unit]
After=multi-user.target
Description=bwbots

[Service]
Type=oneshot
User=bwbots
Group=bwbots
RemainAfterExit=yes
ExecStart=ROS_MASTER_INTERFACE=wlp4s0 /home/bwbots/true_battlebot/docker/scripts/run_container
ExecStop=/home/bwbots/true_battlebot/docker/scripts/stop_container

[Install]
WantedBy=multi-user.target
