<launch>
    <arg name="config" default="$(find bw_bringup)/config/twist_mux.yaml" />

    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen" clear_params="true">
        <remap from="cmd_vel_out" to="cmd_vel" />

        <rosparam file="$(arg config)" command="load" />
    </node>
</launch>