<launch>
    <group ns="simulated_camera">
        <node pkg="nodelet" type="nodelet" args="manager" name="synthetic_relay_manager" output="screen"/>
        <node pkg="nodelet" type="nodelet" name="synthetic_cloudify" output="screen"
            args="load depth_image_proc/point_cloud_xyzrgb synthetic_relay_manager --no-bond">
            <remap from="depth_registered/image_rect" to="depth/image_raw"/>
            <remap from="rgb/image_rect_color" to="image/image_raw"/>
            <remap from="rgb/camera_info" to="image/camera_info"/>
            <remap from="depth_registered/points" to="points"/>
        </node>
    </group>
</launch>
