<launch>
    <group ns="simulated_camera">
        <node pkg="nodelet" type="nodelet" args="manager" name="synthetic_relay_manager" output="screen"/>
        <node pkg="nodelet" type="nodelet" name="synthetic_cloudify" output="screen"
            args="load depth_image_proc/point_cloud_xyz synthetic_relay_manager --no-bond">
            <remap from="image_rect" to="depth/image_raw"/>
            <remap from="camera_info" to="depth/camera_info"/>
        </node>
    </group>
</launch>
