scipy
dataclasses
psutil
tqdm
v4l2-fix
matplotlib
python-dateutil
opencv-python
Cython
llvmlite
numba
empy
nose
pycryptodome
pycryptodomex
defusedxml
mock
netifaces
gnupg
numpy
twisted
tornado
autobahn
bson
pyopenssl
pillow
