<launch>
    <node pkg="bw_object_estimation" type="bw_object_estimation" name="object_estimation" output="screen">
        <remap from="depth/camera_info" to="/camera/image/camera_info"/>
        <remap from="depth/image_raw" to="/camera/depth/image_raw"/>
        <remap from="segmentation" to="/camera/segmentation"/>
    </node>
</launch>
