<launch>
    <arg name="camera_name" default="camera_0" />

    <group ns="$(arg camera_name)">
        <node pkg="bw_segmentation" type="segmentation_relay.py" name="segmentation_relay"
            output="screen">
            <remap from="segmentation_image" to="layer/image_raw" />
            <remap from="rgb_image" to="rgb/image_rect_color" />
            <remap from="camera_info" to="layer/camera_info" />
            <remap from="segmentation_relay_debug" to="debug_image" />
        </node>
    </group>

    <group>
        <param name="$(arg camera_name)_description"
            command="$(find xacro)/xacro '$(find zed_wrapper)/urdf/zed_descr.urdf.xacro'
                        camera_name:=$(arg camera_name)
                        camera_model:=zed2i
                        base_frame:=$(arg camera_name)
                        cam_pos_x:=0
                        cam_pos_y:=0
                        cam_pos_z:=0
                        cam_roll:=0
                        cam_pitch:=0
                        cam_yaw:=0"
        />

        <node name="$(arg camera_name)_state_publisher" pkg="robot_state_publisher"
            type="robot_state_publisher" output="screen" required="false">
            <remap from="robot_description" to="$(arg camera_name)_description" />
            <remap from="joint_states" to="zed_joint_states" />
        </node>
    </group>
</launch>