<launch>
    <arg name="map" default="$(env MAP_NAME)" />
    <arg name="robot" default="$(env ROBOT)" />

    <include file="$(find bw_bringup)/launch/subsystems/common.launch" />
    <include file="$(find bw_tracking_cam)/launch/depthai_oak_1_w.launch">
        <arg name="camera_name" value="camera_1" />
    </include>
    <group ns="mini_bot">
        <include file="$(find bw_teleop)/launch/simple_teleop.launch" />
        <include file="$(find bw_bringup)/launch/subsystems/twist_mux.launch" />
    </group>
</launch>