<launch>
    <param name="/use_sim_time" value="false" />
    <include file="$(find bw_bringup)/launch/subsystems/common.launch">
        <arg name="auto_initialize" value="true" />
    </include>
    <include file="$(find bw_tracking_cam)/launch/simulated_tracking_cam.launch">
        <arg name="camera_name" value="camera_1" />
    </include>
    <group ns="camera_0">
        <include file="$(find bw_bringup)/launch/subsystems/synthetic_camera_conversion.launch" />
    </group>
    <group ns="main_bot">
        <include file="$(find bw_teleop)/launch/tank_teleop.launch" />
        <include file="$(find bw_bringup)/launch/subsystems/twist_mux.launch" />
    </group>
    <group ns="mini_bot">
        <include file="$(find bw_bringup)/launch/subsystems/twist_mux.launch" />
    </group>
    <include file="$(find bw_bringup)/launch/subsystems/simulation_static_transforms.launch" />
    <node pkg="bw_command_center" type="simulation_pause_relay.py" name="simulation_pause_relay" />
</launch>