<launch>
    <include file="$(find bw_bringup)/launch/subsystems/common.launch">
        <arg name="auto_initialize" value="true" />
    </include>
    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch" />
    <group ns="camera_0">
        <include file="$(find bw_bringup)/launch/subsystems/synthetic_camera_conversion.launch" />
    </group>
    <group ns="main_bot">
        <include file="$(find bw_teleop)/launch/simple_teleop.launch" />
        <include file="$(find bw_bringup)/launch/subsystems/twist_mux.launch" />
    </group>
    <group ns="mini_bot">
        <include file="$(find bw_bringup)/launch/subsystems/twist_mux.launch" />
    </group>
</launch>