<launch>
    <node name="usb_joystick" pkg="joy" type="joy_node" output="screen" required="false">
        <param name="dev" value="/dev/input/js0" type="str" />
        <param name="deadzone" value="0.2" />
        <param name="autorepeat_rate" value="30.0" />
    </node>

    <node pkg="teleop_twist_joy" type="teleop_node" name="tank_teleop" output="screen">
        <param name="axis_linear" value="1" />
        <param name="axis_angular" value="3" />
        <param name="enable_button" value="5" />
        <param name="scale_linear" value="1.5" />
        <param name="scale_angular" value="6.14" />
        <remap from="cmd_vel" to="cmd_vel/teleop" />
    </node>
</launch>